<style>
  #certificate-inline
   {
    background-image: url("https://iptar.org/wp-content/uploads/2017/12/certbackground.png");
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}
</style>

<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
  <div id="certificate-inline">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b><%= attendee.title %> <%= attendee.fullname %><% if !attendee.suffix.empty? %>, <%= attendee.suffix %>
         <% end %>
       </b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:30px"><%= course.title %></span> <br/><br/>
       <span style="font-size:20px">for <b><%= course.credits %></b> credits.</span>
       <br/>
       <span style="font-size:25px"><i>dated </i><%= Time.now.strftime("%m/%d/%Y") %></span>

      <span style="font-size:30px"></span>
    </div>
  </div>
</div>
