<h3>You are an attendee. </br></br>
Title: <%= @attendee.title %></br>
First name: <%= @attendee.first_name %></br>
Last name: <%= @attendee.last_name %></br>
Suffix: <%= @attendee.suffix %></br>
</h3>
</br>
<%= link_to 'Edit Profile', edit_attendee_path(@attendee), class: 'btn'%>
</br></br>
<h3>Email: <%= current_user.email %></h3>
</br>
<%= link_to 'Update Login Email or Password', edit_user_registration_path, class: 'btn'%>
