  <h2>Courses taught by: <%= @instructor.title %> <%= @instructor.fullname %>, <%= @instructor.suffix %> </h2>
    <table class="data-table">
        <tr>
        <th>Course Title</th>
        <th>End Date</th>
        <th>Credits</th>
        <th>Location</th>
        <% if is_authorized?(@instructor) %>
          <th>Action</th>
        <% end %>
      </tr>
      <% @instructor.courses.each do |c| %>
      <tr>
          <td>
              <%= link_to c.title, c %>
          </td>
          <td>
            <%= c.end_date.strftime("%A, %b %d") %>
          </td>
          <td>
            <%= c.credits %>
          </td>
          <td>
            <%= c.location %>
          </td>
          <% if is_authorized?(@instructor) %>
            <td>
            <% if c.evaluation.nil? %>
                <%= link_to "Assign Eval", unassigned_evaluations_path %>
            <% else %>
              <% if c.complete? && c.finished_evaluations.any? %>
                <%= link_to "Report", report_course_path(c) %>
              <% else %>
                <%= c.evaluation.name %>
              <% end %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <br />
  <% if is_superadmin? %>
    <%= link_to 'Edit', edit_instructor_path(@instructor), class: "btn" %> |
    <%= link_to 'Destroy', @instructor, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
