<%= form_for @course, builder: PrimerFormBuilder do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <dl class="form-group">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :location %><br>
      <%= f.text_field :location %><br>
      <%= f.label :credits %><br>
      <%= f.number_field :credits %><br>
      <%= f.label :learning_objective_1 %><br>
      <%= f.text_field :learning_objective_1 %><br>
      <%= f.label :learning_objective_2 %><br>
      <%= f.text_field :learning_objective_2 %><br>
      <%= f.label :learning_objective_3 %><br>
      <%= f.text_field :learning_objective_3 %><br>
      <%= f.label :start_date %><br>
      <%= f.date_field :start_date %><br>
      <%= f.label :end_date %><br>
      <%= f.date_field :end_date %><br>
    </div>
    <div class="form-checkbox">
      <label>
        <%= f.label :published %>
        <%= f.check_box :published %>
      </label>
      <p class="note" id="help-text-for-checkbox">
        Leave this <strong>unchecked</strong> if you don't want students to be able to register for this yet.
      </p>
    </div>
  </dl>
  <h3>Instructor</h3>
    <% if current_user.instructor_role %>
      <%= f.hidden_field :instructor_id, :value => current_user.instructor.id %>
      <%= current_user.instructor.fullname %> - You!
    <% else %>
      <div class="field mx-5">
        <%= f.collection_radio_buttons(:instructor_id, Instructor.all, :id, :fullname) do |b| %>
          <%= b.label class:"form-checkbox" do%>
            <%=b.radio_button + b.text%> </br>
          <%end%>
        <% end %>
      </div>
    <% end %>
    <br /><br />
  <h3>Evaluation</h3>
  
  <div class="field mx-5">
    <%= f.collection_radio_buttons(:evaluation_id, Evaluation.unassigned, :id, :name) do |b| %>
      <%= b.label class:"form-checkbox" do%>
        <%=b.radio_button + b.text%> </br>
      <%end%>
    <% end %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
