<h2>Evaluation for <%= @course.title %></h2>
<br />
<%= form_for(@finished_evaluation, url: {controller: "finished_evaluations", action: "create"}, method: :post) do |f| %>
  <h5>The learning objectives for this course were:</h5>
  <div class="mx-5"
  <ul>
    <li>
      <%= @course.learning_objective_1 %>
    </li>
    <li>
      <%= @course.learning_objective_2 %>
    </li>
    <li>
      <%= @course.learning_objective_3 %>
    </li>
  </ul>
</div>
<br />
  <table class="data-table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <% @evaluation.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td>
            <%= f.fields_for :answers, question.answers.create(attendee: @attendee) do |a| %>
              <% if question.text? %>
                <%= a.text_area :content %>
                <%= a.hidden_field :question_id, :value => question.id %>
                <%= a.hidden_field :attendee_id, :value => @attendee.id %>
              <% else %>
                <%= a.select :rating, [["Strongly Disagree", 1], ["Disagree", 2], ["Neutral", 3], ["Agree", 4], ["Strongly Agree", 5]] %>
                <%= a.hidden_field :question_id, :value => question.id %>
                <%= a.hidden_field :attendee_id, :value => @attendee.id %>
              <% end %>

          <% end %>

        </td>
      </tr>

      <% end %>
        <%= f.hidden_field :evaluation_id, :value => params[:id] %>
        <%= f.hidden_field :course_id, :value => @evaluation.course.id %>
        <%= f.hidden_field :attendee_id, :value => @attendee.id %>
      </tbody>
    </table>
    <br />
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end -%>
