<%= form_for @question, builder: PrimerFormBuilder do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Question:" %>:
    <%= f.text_field :content %><br>
  </div>

  <div class="field">
    <%= f.label "Check if this is a text question, leave it blank for a 1-5 rating scale" %>:
    <%= f.check_box :text %><br>
  </div>

  <%= hidden_field_tag(:ref_id, params[:ref_id]) %>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
